Options -Indexes

# BEGIN WordPress

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_METHOD} POST
RewriteCond %{REQUEST_URI} .wp-comments-post\.php*
RewriteCond %{HTTP_REFERER} !.*xyz.* [OR]
RewriteCond %{HTTP_USER_AGENT} ^$
RewriteRule (.*) ^http://%{REMOTE_ADDR}/$ [R=301,L]
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

# to protect wp-config.php
<Files wp-config.php>
order allow,deny
deny from all
</Files>

# to protect the .htaccess file itself:
<Files htaccess>
order deny,allow
deny from all
</Files>