/*
    See: www.phpied.com/delay-loading-your-print-css/)
    
    Might be worth including this in the reset or something for performance.
*/
@media print {
    * { background:transparent !important; color:#1a1a1a !important; text-shadow:none; }
    a, a:visited { color:#1a1a1a !important; text-decoration:underline; }
    a:after { content:" (" attr(href) ")"; }
    abbr:after { content:" (" attr(title) ")"; }&nbsp;&nbsp;&nbsp;&nbsp;.ir a:after { content:""; } &nbsp;/* Don't show links for images */&nbsp;&nbsp;&nbsp;&nbsp;pre, blockquote { border:1px solid #999; page-break-inside:avoid; }&nbsp;&nbsp;&nbsp;&nbsp;img { page-break-inside:avoid; }
    @page { margin:0.5cm; }
    p, h2, h3 { orphans:3; widows:3; }
    h2, h3{ page-break-after:avoid; }
}